
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<img src="assets/confstarLogo.jpg" alt="logo" class="logoImageNewData">
<div class="header">

  <mat-card class="filters-card">
    <div class="table-commands">
      <span class="text-label"> cautati dupa nume: </span>
      <mat-form-field appearance="outline" class="search-by-name" >
        <div class="search-container">
          <input
            matInput
            type="text"
            name="filtru"
            [(ngModel)]="filters"
          >
          <mat-icon>
            search
          </mat-icon>
        </div>
      </mat-form-field>
      <div class="add-button">
        <button class="app-button"
        >
          Adauga
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div class="menu-container" >

  <mat-card class="menu">
    <button mat-button class="menu-button"  >Camere</button>
    <hr class="line-between">
    <button mat-button class="menu-button">Rapoarte</button>
    <hr class="line-between">
    <button mat-button class="menu-button" [routerLink]="['']">Chiriasi</button>
    <hr class="line-between">
  </mat-card>
  <div class="user-card-container">
    <mat-card class="user-card">
      <div class="table-wrapper">
        <table
          #firstTable
          #firstTableSort="matSort"
          class="current-renters"
          mat-table
          matSort
          [dataSource]="ELEMENT_DATA"
        >
          <ng-container matColumnDef="Nume">
            <th mat-header-cell *matHeaderCellDef> Nume</th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>
          <ng-container matColumnDef="Cladire">
            <th mat-header-cell *matHeaderCellDef> Cladire </th>
            <td mat-cell *matCellDef="let element">{{element.building}}</td>
          </ng-container>
          <ng-container matColumnDef="Chirias">
            <th mat-header-cell *matHeaderCellDef> Chirias </th>
            <td mat-cell *matCellDef="let element">{{element.user.lastName}}</td>
          </ng-container>
          <ng-container matColumnDef="Contoare">
            <th mat-header-cell *matHeaderCellDef>Contoare</th>
            <td mat-cell *matCellDef="let element">avsda</td>
          </ng-container>
          <ng-container matColumnDef="Utilitati">
            <th mat-header-cell *matHeaderCellDef>Utilitati</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon class="icons">
                lightning_component
              </mat-icon>
              <mat-icon>
                local_fire_department
              </mat-icon>
              <mat-icon>
                water
              </mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>
  </div>
</div>
</body>
