
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header">
  <img src="assets/confstarLogo.jpg" alt="logo" class="logoImageNewData">
<mat-card class="filters-card">
  <div class="table-commands">
    <span class="text-label"> cautati dupa nume: </span>
    <mat-form-field appearance="outline" class="search-by-name" >
      <div class="search-container">
      <input
      matInput
      type="text"
      name="filtru"
      [(ngModel)]="filters"
      >
      <mat-icon (click)="onSearch()">
        search
      </mat-icon>
      </div>
    </mat-form-field>
    <div class="add-button">
      <button class="app-button"
      (click)="openDialog()"
      >
        Adauga
      </button>
    </div>
  </div>
</mat-card>
</div>
<div class="menu-container" >

  <mat-card class="menu">
    <nav>
    <button mat-button [routerLink]="['/rooms']" class="menu-button" >Camere</button>
    <hr class="line-between">
    <button mat-button [routerLink]="['']" class="menu-button">Rapoarte</button>
    <hr class="line-between">
    <button mat-button class="menu-button">Chiriasi</button>
    <hr class="line-between">
    </nav>
  </mat-card>
<div class="user-card-container">
<mat-card class="user-card">
  <div class="table-wrapper">
    <table
      #firstTable
      #firstTableSort="matSort"
      class="current-renters"
      mat-table
      matSort
      [dataSource]="ELEMENT_DATA"
      >
      <ng-container matColumnDef="Nume">
        <th mat-header-cell *matHeaderCellDef> Nume</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="data Start">
        <th mat-header-cell *matHeaderCellDef> data Start </th>
        <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
      </ng-container>
      <ng-container matColumnDef="data Final">
        <th mat-header-cell *matHeaderCellDef>data Final</th>
        <td mat-cell *matCellDef = "let element">{{element.endDate}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
</div>
</div>
</body>
