<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="imgContainer">
  <img src="assets/confstarLogo.jpg" alt="logo" class="logoImageNewData">
  <div class="menu-container" >
    <mat-card class="menu">
      <button class="menu-button" type = "button"  >Camere</button>
      <hr class="line-between">
      <button class="menu-button">Rapoarte</button>
      <hr class="line-between">
      <button class="menu-button">Chiriasi</button>
      <hr class="line-between">
    </mat-card>


  <div class="firm-information-container">
    <div class="title-container">
      <mat-card-title class="card-title"> Informatii Firma</mat-card-title>

      <div class= "information-line">
        <span class="text-info-left">Nume:</span>
        <span class ="text-info-right"> Email:</span>
      </div>
      <div class="information-line">
        <span class="text-info-left">Tip:</span>
        <span class="text-info-right">Camere:</span>
      </div>
    </div>
  </div>
  </div>
</div>



